.home-data{
    padding: 10px;
}
.no{
    position: absolute;
    left: 42%;
    top: 50%;
}
.form-up{
    position: absolute;
    top: 23%;
    background-color: white;
    padding: 20px;
    scale: 1.3;
}
.btn-X{
    position: absolute;
    left: 85%;
    bottom: 92%;
}
.tg{
    width: 160px !important;
}
@media (max-width:480px) {
    .home-data{
        font-size: 16px !important;
    }
    th{
        font-size: 16px;
    }
    .s>input{
        width: 100% !important;
        padding: 4px !important;
    }
    .s{
        margin-right: 20%;
    }
    .s>button{
        scale: 0.8;
    }
    .no{
        position: absolute;
        left: 28%;
    }
    .form-up{
        scale: 1.18;
        margin-left: 20%;
    }
    .tg{
    width: 130px !important;
}
.btn-X{
    position: absolute;
    left: 84%;
    bottom: 90%;
}
    
}