:root{
    --prim:rgb(40, 32, 96);
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(40, 32, 96);
}
.nav-brand{
    font-size: 48px;
    color: white;

}
.homee{
    margin-right: 25px;
}
.nav-a{
    color: white;
    font-size: 24px;
    text-decoration: none;
    padding: 8px;
    border-radius: 15px;

}
.nav-a:hover{
    background-color:rgb(58, 49, 118);
}
@media (max-width:480px) {
    .nav-brand{
        font-size: 20px;
        /* margin-left: -12%; */
    }
    .nav{
        width: 100vw;
        padding: 10px !important;
    
    }
    .nav-a{
        font-size: 13px;
        /* border: 1px solid white; */
        padding: 4px !important;
    
    }
    .homee{
        margin-right: 2px;
        margin-left: 12px
    }
    
}
